body {
  background-color: #222;
}
body,
p {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 0;
  font-style: normal;
  line-height: 1.75em;
  color: #d5d5d5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.btn:focus,
.btn:active,
.btn:active:focus,
.btn.active,
.btn.active:focus,
.btn.active:active,
.btn.active:active:focus,
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Page Container */

.page-container {
  display: flex;
  flex-flow: column;
  position: relative;
  flex: 0 0 100%;
  padding: 40px 70px 60px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .page-container {
    padding: 20px 35px 30px;
  }
}

/* End Page Container */

/* Navbar */
.navbar {
  padding: 0;
}

.navbar .navbar-nav .nav-item {
  margin-right: 40px;
}

.navbar .navbar-nav .nav-item:last-child {
  margin-right: 0px;
}

.navbar .navbar-nav .nav-link {
  font-size: 14px;
  letter-spacing: 0;
  font-style: normal;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: #f5f5f5;
}

.navbar .navbar-toggler {
  color: #f5f5f5;
  border: none;
  padding: 0;
}

/* End Navbar */

/* Home Content */
.home-content {
  padding: 40px;
  margin: 100px 0;
  text-align: center !important;
}

.home-content .title-3 {
  font-size: 20px;
  color: #aaa;
  font-weight: 300;
  margin-bottom: 10px;
}

.home-content .title-1 {
  font-size: 48px;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
}

.home-content .button-group .btn {
  margin: 20px 5px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
}

@media (max-width: 767.98px) {
  .home-content {
    padding: 20px 0px;
    margin: 50px 0;
  }

  .home-content .title-3 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .home-content .title-1 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 10px;
  }
}

@media (max-width: 575.98px) {
  .home-content .button-group .btn {
    margin: 10px 2.5px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
  }
}
/* End Home Content */
